:root {
    --text: #f2f2f1;
    --background: #090706;
    --primary: #d4b193;
    --secondary: #865020;
    --accent: #e77c1c;
                    
    --blank: #0b1a16;
    --text-dark: #121212;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.main {
    text-align: center;
}

.dashboard {
    /* display: flex;
    flex-direction: row; */
    min-height: 100vh;
}

.data {
    flex: 2;
    padding: 0 2rem;
}

.graphs {
    flex: 3;
}

/* .data-table {
    padding:0;
    border-collapse: collapse;
    width:100%;

    margin-top:1.5rem;
}

th, td {
    border-collapse: collapse;
    padding: 20px 2px;
}

.data-table thead {
    background-color: var(--primary);
    color: var(--text-dark);
    font-size:1.5rem;
}

.data-table tbody {
    background-color: var(--blank);
} */

.val-name {
    min-width: 3rem;
    font-size: 13px;
    /* display: inline-block; */
    /* border: 1px solid white; */
    padding: 5px 10px;
    border-radius: 50px;
    /* background-color: transparent; */
}

.table span {
    text-align: center;
    width:100%;
    display: block;
}